body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0056b3;
    margin: 0;
}

#quiz-container {
    background: #dfffd6; /* Light lemon green color */
    padding: 20px;
    border-radius: 8px; 
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 320px;
    margin-top: 50px;
}

#stage-header {
    font-size: 24px;
    font-family: "Times New Roman", serif;
    margin-bottom: 20px;
    color: #0056b3;
}

#question {
    font-size: 18px;
    margin-bottom: 20px;
}

#options button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background-color: #add8e6; /* Light blue color */
}

#options button:hover {
    background-color: #ffb6c1; /* Light pink color */
}

#next-btn, #next-level-btn {
    display: none;
    padding: 20px 250px;
    border: none;
    color: black;
    border-radius: 2px;
    cursor: pointer;
    margin-top: 20px;
}

#result {
    font-size: 18px;
    margin-top: 20px;
}
